<head>
    <!-- MapQuest API -->
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
</head>
{% extends 'base.html' %}


{% block content %}
    <table id="cars" name="cars" class="cars">
        <tr>
            <th>Vehicle</th>
            <th># of Seats</th>
            <th>Combined MPG</th>
            <th>Estimated Fuel Cost</th>
        </tr>
        {% for key, values in car_data.items %}
        <tr>
            <td>{{key}}</td>
           {% for v in values %}:
               <td>{{ v }}</td>
            {% endfor %}
            <td>3.50</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <table class="eventTable">
        <tr>
            <th><b>Events:</b></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Organization</th>
            <th>Event</th>
            <th>Location</th>
            <th>Time</th>
        </tr>
        {% for event in events %}
        <tr class='clickable-event'>
            <td>{{ event.org_name }}</td>
            <td>{{ event.ev_name }}</td>
            <td id="loc">{{ event.location }}</td>
            <td>{{ event.time }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <div class="map" id="map" ></div>
    <br>
    <br>
{% endblock %}