<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FindCar: The Automated Travel Coordinator</title>
    <style>
        h1 {
            width: 1000px;
            margin: auto;
            padding-top: 50px;
        }
        ul {
            width: 1000px;
            margin: auto;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    </style>
    <!-- https://docs.djangoproject.com/en/2.1/intro/tutorial03/ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery first, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


    {% load static %}
    <script src = "{% static 'main.js' %}"></script>
</head>
<body>
    <h1>Automated Travel Coordinator</h1>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home/carfinder/">Insert</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/remove_person_temp.html">Remove</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/update.html">Update Record</a>
        </li>
    </ul>
</body>
</html>