{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <form class="contact-form" method="post" action="/insert_submit/">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="org_select">Organization</label>
                    <select class="form-control"  id="org_select" name="org_select">
                        <option value="0"></option>
                        <option value="1">Add New Organization ++</option>
                        {% for entry in items %}
                        <option value="{{ entry }}">{{ entry }}</option>
                        {% endfor %}
                    </select>
                   <!-- <input type="text" class = "form-control" id="inputOrg" name ="orgInput" placeholder="Organization"> -->
                </div>
                <div class="form-group col-md-6">
                    <label for="inputTeam">Team</label>
                    <input type="text" class = "form-control" id="inputTeam" name="teamInput" placeholder="Team">
                </div>
            </div>
            <div id="org_form-extension"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName">Name</label>
                    <input type="text" name="personName" class = "form-control" id="inputName" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPhone">Phone</label>
                    <input type="tel" name="inputPhone" class = "form-control" id="inputPhone" placeholder="Phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
                </div>
            </div>
            <div class="form-group">
                <label>Event</label>
                <select class="form-control" name="eventPref">
                    {% for event in events %}
                    <option>{{ event.ev_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="riderSelect" id="radioRider" value="rider" checked="checked">
                <label class="form-check-label" for="radioRider">Rider</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="riderSelect" id="radioDriver" value="driver">
                <label class="form-check-label" for="radioDriver">Driver</label>
            </div>
            <div id="form-extension"></div>
            <div id="riderDiv">
                <br>
                <label>Select your preferred driver</label>
                <select class="form-control" name="inputPref">
                    {% for driver in drivers %}
                    <option>{{ driver.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}