{% extends 'base.html' %}
{% block content %}
    <table>
        <tr>
            <th><b>Car:</b></th>
            <th><b></b></th>
            <th><b></b></th>
            <th><b></b></th>
        </tr>
        <tr>
            <th>Car</th>
            <th>Driver</th>
            <th>Event</th>
            <th>Number of Passengers</th>
        </tr>
        <tr>
            <td>Car1</td>
            <td>Name1</td>
            <td>Event1</td>
            <td>0</td>
        </tr>
        <tr>
            <th><b>Passengers:</b></th>
            <th><b></b></th>
            <th><b></b></th>
            <th><b></b></th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Phone</th>
            <th></th>
        </tr>
        {% for person in people %}
        <tr>
            <td>{{ person.p_name }}</td>
            <td>{{ person.team }}</td>
            <td>{{ person.phone }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
{% endblock %}