{% extends 'base.html' %}
{% block content %}
    {% for group in cars %}
    <table>
        <tr>
            <th><b>Car:</b></th>
            <th><b></b></th>
            <th><b></b></th>
            <th><b></b></th>
        </tr>
        <tr>
            <th>Year/Make/Model</th>
            <th>Driver</th>
            <th>Organization</th>
            <th>Maximum Passengers</th>
        </tr>
        <tr>
            <td>{{ group.0.year }} {{ group.0.make }} {{ group.0.model }}</td>
            <td>{{ group.0.p_name }}</td>
            <td>{{ group.0.org_name }}</td>
            <td>{{ group.0.numSeats }}</td>
        </tr>
        <tr>
            <th><b>Passengers:</b></th>
            <th><b></b></th>
            <th><b></b></th>
            <th><b></b></th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Phone</th>
            <th></th>
        </tr>
        {% for person in group %}
        <tr>
            <td>{{ person.p_name }}</td>
            <td>{{ person.team }}</td>
            <td>{{ person.phone }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    {% endfor %}

    <table>
        <tr>
            <th><b>People without a car</b></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Phone</th>
            <th></th>
        </tr>
        {% for person in unmatched %}
        <tr>
            <td>{{ person.p_name }}</td>
            <td>{{ person.team }}</td>
            <td>{{ person.phone }}</td>
        </tr>
        {% endfor %}
    </table>
    <br><br><br><br>
{% endblock %}