{% extends 'base.html' %}
{% block content %}
        <div class="container">
        <form class="contact-form" method="post" action="/search_return/">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="search_category">Search</label>
                  <select name="query_category">
                      <option value="People"> People</option>
                      <option value="Cars"> Cars</option>
                  </select>
                 <!-- <input type="text" class = "form-control" id="inputOrg" name ="orgInput" placeholder="Organization"> -->
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="search_query">Filter By</label>
                  <select name="query_select">
                    <option value="All"> No Filter </option>
                      <option value="Name"> Person Name</option>
                      <option value="Org"> Organization Name</option>
                      <option value="Team"> Team Name</option>
                  </select>
                 <!-- <input type="text" class = "form-control" id="inputOrg" name ="orgInput" placeholder="Organization"> -->
              </div>

            </div>

            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="inputName">Input</label>
                    <input type="text" name="inputName" class = "form-control" id="inputName" placeholder="Search...Leave Blank if No Filter Selected">
                </div>

            </div>

            <!-- <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputOrg">Name</label>
                    <input type="text" name="orgName" class = "form-control" id="inputOrg" placeholder="Organization">
                </div>
            </div> -->

            <div id="form-extension"></div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <table>

        <tr>
            <th><b>Search Results</b></th>
            <th><b></b></th>
            <th><b></b></th>
            <th><b></b></th>
            <th><b></b></th>
            {% if output == "Car" %}
              <th><b></b></th>
              <th><b></b></th>
              <th><b></b></th>
            {% endif %}
        </tr>
        <tr>
          {% if output == "Person" %}
            <th>Name</th>
            <th>Organization</th>
            <th>Team</th>
            <th>Phone</th>
            <th>Drives?</th>
          {% endif %}

          {% if output == "Car" %}
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Seats</th>
            <th>Owner</th>
            <th>Organization</th>
            <th>Team</th>
            <th>Phone</th>
          {% endif %}

        </tr>
        {% for entry in objects %}
        <tr>
            {% if output == "Person" %}
              <td>{{ entry.p_name }}</td>
              <td>{{ entry.org_name }}</td>
              <td>{{ entry.team }}</td>
              <td>{{ entry.phone }}</td>
              {% if entry.is_driver == 1 %}
                <td> Yes! </td>
              {% endif %}

              {% if entry.is_driver == 0 %}
                <td> No :( </td>
              {% endif %}
            {% endif %}

            {% if output == "Car" %}
              <td>{{ entry.year }}</td>
              <td>{{ entry.make }}</td>
              <td>{{ entry.model }}</td>
              <td>{{ entry.numSeats }}</td>
              <td>{{ entry.p_name }}</td>
              <td>{{ entry.org_name }}</td>
              <td>{{ entry.team }}</td>
              <td>{{ entry.phone }}</td>
            {% endif %}

        </tr>
        {% endfor %}
    </table>

{% endblock %}
