{% extends 'base.html' %}
{% block content %}
        <div class="container">
        <form class="contact-form" method="post" action="/search_return/">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName">Name</label>
                    <input type="text" name="personName" class = "form-control" id="inputName" placeholder="Name">
                </div>

            </div>

            <div id="form-extension"></div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="container">
      <p>{{ object.p_name }}</p>
        <p>{{ object.org_id }}</p>
        <p>{{ object.phone }}</p>
        <p>{{ object.team }}</p>
    </div>

{% endblock %}