{% extends 'base.html' %}
{% block content %}
        <div class="container">
        <form class="contact-form" method="post" action="/search_return/">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="search_query">Search By</label>
                  <select name="query_select">
                      <option value="Person"> Person Name</option>
                      <option value="Org"> Organization Name</option>
                      <option value="Team"> Team Name</option>
                  </select>
                 <!-- <input type="text" class = "form-control" id="inputOrg" name ="orgInput" placeholder="Organization"> -->
              </div>

            </div>

            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="inputName">Input</label>
                    <input type="text" name="inputName" class = "form-control" id="inputName" placeholder="search">
                </div>

            </div>

            <!-- <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputOrg">Name</label>
                    <input type="text" name="orgName" class = "form-control" id="inputOrg" placeholder="Organization">
                </div>
            </div> -->

            <div id="form-extension"></div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <table>

        <tr>
            <th><b>Search Results</b></th>
            <th><b></b></th>
            <th><b></b></th>
            <th><b></b></th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Organization</th>
            <th>Team</th>
            <th>Phone</th>
        </tr>
        {% for entry in objects %}
        <tr>

            <td>{{ entry.p_name }}</td>
            <td>{{ entry.org_id }}</td>
            <td>{{ entry.team }}</td>
            <td>{{ entry.phone }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
